<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeeOrderForRider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DDF1AF620A041D2008A7947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DDF1B0E20A041D6008A7947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DDF1B1920A041D6008A7947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
